name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    # ✅ ENV NO NÍVEL DO JOB (vale para todos os steps)
    env:
      DATABASE_URL: "file:./dev.db"
      JWT_SECRET: "ci-secret"

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install deps
        run: npm ci

      # ✅ cria .env também (backup caso prisma/config não herde env)
      - name: Create .env for Prisma
        run: |
          echo 'DATABASE_URL="file:./dev.db"' > .env
          
      - name: Debug env
        run: node -e "console.log('DATABASE_URL=', process.env.DATABASE_URL)"
    

      - name: Generate Prisma Client
        run: DATABASE_URL="file:./dev.db" npx prisma generate


      - name: Run tests
        run: DATABASE_URL="file:./dev.db" JWT_SECRET="ci-secret" npm test

